:root {
  --icon-size: 5vh;
  --icon-size-neg: -5vh;
}

.orbitate {
  animation: animate_orbit 60s linear infinite;
  animation-fill-mode: both;
  height: clamp(0px, 42svh, 610px);
  position: absolute;
  width: clamp(0px, 47svh, 80svw);
  z-index: 1;
}

.orbitate-icon {
  animation: animate_rotate 60s linear infinite;
  animation-fill-mode: both;
  filter: blur(2px);
  height: var(--icon-size);
  position: absolute;
  rotate: 13deg;
  width: var(--icon-size);
  z-index: 0;
}

.orbitate-icon:hover {
  scale: 1.4;
}

.orbitate-icon:nth-child( 1 ) {
  left: calc(50% - var(--icon-size) / 2);
  top: calc(var(--icon-size-neg) / 2);
}

.orbitate-icon:nth-child( 2 ) {
  bottom: calc(var(--icon-size-neg) / 2);
  left: calc(50% - var(--icon-size) / 2);
}

.orbitate-icon:nth-child( 3 ) {
  bottom: calc(50% - var(--icon-size) / 2);
  left: calc(var(--icon-size-neg) / 2);
}

.orbitate-icon:nth-child( 4 ) {
  bottom: calc(50% - var(--icon-size) / 2);
  filter: brightness(1.3) contrast(2);
  right: calc(var(--icon-size-neg) / 2);
}

.orbitate-icon:nth-child( 5 ) {
  right: calc(var(--icon-size) / 2);
  top: calc(var(--icon-size) / 2);
}

.orbitate-icon:nth-child( 6 ) {
  left: calc(var(--icon-size) / 2);
  top: calc(var(--icon-size) / 2);
}

.orbitate-icon:nth-child( 7 ) {
  bottom: calc(var(--icon-size) / 2);
  left: calc(var(--icon-size) / 2);
}

.orbitate-icon:nth-child( 8 ) {
  bottom: calc(var(--icon-size) / 2);
  right: calc(var(--icon-size) / 2);
}

@keyframes animate_orbit {

  0% {
    height: clamp(0px, 42svh, 610px);
    width: clamp(0px, 47svh, 80svw);
  }

  14% {
    height: clamp(0px, 49svh, 80svw);
    width: clamp(0px, 49svh, 80svw);
  }

  26.5% {
    height: clamp(0px, 49svh, 80svw);
    width: clamp(0px, 49svh, 610px);
  }

  38.5% {
    height: clamp(0px, 49svh, 80svw);
    width: clamp(0px, 49svh, 80svw);
  }

  50% {
    height: clamp(0px, 47svh, 610px);
    width: clamp(0px, 47svh, 80svw);
  }


  64% {
    height: clamp(0px, 49svh, 80svw);
    width: clamp(0px, 49svh, 80svw);
  }

  89% {
    height: clamp(0px, 49svh, 80svw);
    width: clamp(0px, 45svh, 610px);
  }

  100% {
    height: clamp(0px, 42svh, 610px);
    rotate: 1turn;
    width: clamp(0px, 47svh, 80svw);
  }
}

@keyframes animate_rotate {

  0% {
    transform: rotate(0);
  }

  25% {
    transform: rotate(-90deg);
  }

  50% {
    transform: rotate(-180deg);
  }

  75% {
    transform: rotate(-270deg);
  }

  100% {
    transform: rotate(-360deg);
  }
}

@media only screen and ( min-width : 1100px ) {

  :root {
    --icon-size: clamp(30px, 6vw, 90px);
    --icon-size-neg: calc(clamp(30px, 6vw, 90px) * -1);
  }

  .orbitate {
    height: clamp(300px, 42vw, 70vh);
    position: absolute;
    width: clamp(300px, 42vw, 70vh);
    z-index: 0;
  }

  @keyframes animate_orbit {

    0% {
      height: clamp(300px, 42vw, 70vh);
      width: clamp(300px, 42vw, 70vh);
    }

    100% {
      height: clamp(300px, 42vw, 70vh);
      rotate: 1turn;
      width: clamp(300px, 42vw, 70vh);
    }
  }
}
