.skills {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  width: 100%;
}

.third-section-title {
  color: white;
  font-family: Ubuntu , sans-serif;
  font-size: clamp(10px, 7svh, 40px);
  font-style: normal;
  font-weight: 400;
  margin: 3rem 0 1rem;
  text-align: center;
  width: fit;
  z-index: 2;
}
