.home-page {
  background: #002f57;
  overflow-x: hidden;
  width: 100%;
}

.first-section {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
}

.second-section {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: clamp(100dvh, 100svh, 100vh);
  width: 100%;
}

@media only screen and ( min-width : 1100px ) {

  .first-section {
    align-items: stretch;
    display: flex;
    flex-direction: row;
    height: calc(100svh - 60px);
    justify-content: flex-end;
  }
}
