.carousel-controller {
  align-items: center;
  color: white;
  display: flex;
  flex-direction: row;
  height: 60px;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 50%;
}

.bullet {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 10px;
  justify-content: center;
  margin: 0 0.2rem;
  position: relative;
  transition: width 0.5s ease , height 0.5s ease;
  width: 10px;
}

.selected-bullet {
  align-items: center;
  background-color: #1e7aca;
  border-radius: 50%;
  display: flex;
  filter: blur(0.5px);
  height: 17px;
  justify-content: center;
  margin: 0 0.2rem;
  position: relative;
  transition: width 0.3s ease , height 0.3s ease;
  width: 17px;
}
