.header {
  display: flex;
  height: clamp(40px, 12vh, 100px);
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.5s ease;
  width: clamp(40px, 12vh, 100px);
  z-index: 5;
}

.header .header-touchable {
  display: none;
  height: 0;
  width: 0;
}

.header-open {
  align-items: flex-end;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: flex-start;
  position: fixed;
  right: 0;
  top: 0;
  transition: width 0.5s ease;
  width: 100%;
  z-index: 5;
}

.header-open .header-touchable {
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 50%;
}


.header-open .header-options {
  align-items: center;
  background-color: #002e57ce;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 3%;
  height: 100%;
  justify-content: flex-start;
  padding: 10% 0 0;
  transition: width 0.5s ease;
  width: 50%;
}

.header-button {
  background-color: aliceblue;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  cursor: pointer;
  height: clamp(40px, 9svh, 100px);
  outline: none;
  position: relative;
  transition: transform 0.5s ease;
  user-select: none;
  width: clamp(40px, 9svh, 100px);
}

.header .header-button {
  background-image: url('../../assets/images/icons/menuIcon.svg');
  background-size: 60%;
  margin: 3vh 3vh 0 auto;
}

.header-open .header-button {
  background-image: url('../../assets/images/icons/xIcon.svg');
  background-size: 50%;
  left: 0;
  margin: 3vh auto 0 3vh;
  position: absolute;
  top: 0;
}

.header-button:active {
  transform: scale(1.2);
}

.header .header-options {
  display: none;
}

.navbar-button, .icon-button {
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;
  font-family: Inter , sans-serif;
  font-size: 20px;
  font-weight: 700;
  outline: none;
  width: max-content;
}

@media only screen and ( min-width : 1100px ) {

  .header-button {
    display: none;
  }

  .header-open {
    display: none;
  }

  .header {
    align-items: center;
    display: flex;
    height: 60px;
    margin: 0;
    max-height: 60px;
    min-height: 60px;
    padding: 0;
    width: 100%;
    z-index: 5;
  }

  .header-options, .header .header-options {
    align-items: center;
    background-color: transparent;
    box-sizing: border-box;
    display: flex;
    height: 60px;
    justify-content: flex-end;
    margin: 0;
    max-height: 60px;
    padding: 0;
    position: relative;
    top: 0;
    transition: background-color 0.7s ease , box-shadow 1s ease;
    width: 100%;
  }

  .navbar-button, .icon-button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-family: Inter , sans-serif;
    font-size: 20px;
    font-weight: 700;
    margin: 0 37px 0 0;
    outline: none;
  }

  .scrolled {
    background-color: #002f57;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.5);
  }

  .icon-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
    width: 40px;
  }

  .navbar-button:hover, .icon-button:hover {
    scale: 1.2;
  }

  .icon-translate-button > img {
    height: 40px;
    width: 40px;
  }

}
